*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Trebuchet MS';
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: #eee;
}

.calculator-grid > button:hover {
    background-color: #bfbfbf;
}

.double {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: #34495e;
    display:flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-break: break-word;
    word-break: break-all;
}
.operand-previus {
    color: #eee;
    font-size: 1.5rem;
}
.operand-current {
    color: white;
    font-size: 2.5rem;
}